{% block footer %} 
        </div>
                <footer>
                	Разработчик: <a href="http://web-fomin.ru/">Bloodlog @ Максим Фомин</a>
                </footer> 
        </div>
    </body>
</html>
{% endblock %}